# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/invasion

# Output files
/world_after_invasion.txt

# Test binary, built with `go test -c`
*.test

# Outputs of the go coverage tool
.coverage
coverage.txt
*.cov
*.out
